.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 400px;
  height: 400px;
  margin: 20px auto;
}

.white-tile {
  background-color: rgba(231,216,216,0.6);
}

.black-tile {
  background-color: rgb(83,76,76);
}

.board button {
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board button img {
  width: 90%;
  height: 90%;
  pointer-events: none;
}

.white-tile:hover,
.black-tile:hover {
  border: 2px solid rgb(56,203,240);
}

.selected-square {
  border: 3px solid yellow !important;
}
